{
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "semi": ["error", "always"],
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "generator-star-spacing": 1,
    "object-shorthand": 1,
    "arrow-parens": 0,
    "babel/new-cap": 1,
    "babel/no-await-in-loop": 1,
  },
  "plugins": [
    "babel"
  ]
}
