body {
  background-color: #000;
  color: blue;
  width: 900px;
  margin: 0 auto;
}
.ships-wrap {
  img {
    width: 600px;
    margin: 30px auto;
    display: block;
  }
}
.ship-list {
  margin: 50px auto 0 auto;
  text-align: center;
  list-style-type: none;
  li {
    font-size: 30px;
    color: yellow;
  }
}
.btn-lg {
  font-size: 30px !important;
  padding: 30px;
  margin: 0 auto;
  width: 400px;
}
